.guests {
  width: 800px;
  margin-top: 2%;

  .guests-label {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: start;
    color: #1a1e16;
  }

  .guest-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border: solid 6px #50bc8e;
    padding: 20px;
    height: 42vh;
  }

  .button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-left: 55px;

    .button-add {
      display: flex;
      width: 100px;
      height: 50px;
      justify-content: center;
      align-items: center;
      margin-top: 2%;
      border: none;
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all .5s ease;
    }
  }

}