html {
  background: #b5e1d0;
  width: 100%;
  height: 100%;

  body {
    position: relative;
    margin: 0;
    height: 100%;
    &  * {
      box-sizing: border-box;
    }
  }

  #root {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-bottom: 2%;
    position: relative;

    .app {
      position: relative;
      width: 100%;
    }
  }
}