html {
  background: #b5e1d0;
  width: 100%;

  body {
    position: relative;
    margin: 0;
  }

  #root {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2%;
    position: relative;

    .app {
      position: relative;
      width: 100%;
    }
  }
}