
.organizer {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 5px;

  .label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 160px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }

  .organizer-input {
    width: 245px;
    cursor: pointer;
  }

}